:root {
  --color1: #dbd3d8;
  --primary: #2e5e4e;
  --color2: #93a7aa;
  --color3: #a7b5b9;
  --color4: #585651;
  --color5: #333333;
  --color6: #eab16a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  background: linear-gradient(to top right, #333333, #2b1b03);
  color: white;
  min-height: 2500px;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--color6);
}

.navbar .navbar-nav a {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 1.4rem;
  margin: 0.5rem 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--color6);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--color6);
  transform: scaleX(0);
  transition: 0.1s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--color6);
}

/* Hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .img-container img {
  width: 45%;
  float: right;
  margin-left: 10px;
  margin-right: 250px;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 10px 5px rgba(150, 83, 2, 0.8);
}

.hero .img-container img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px 10px rgba(234, 177, 106, 0.8);
}

/* Tyiping text */
.typing-container {
  font-family: "Poppins" sans-serif;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  width: 20px; /* Panjang karakter teks yang ditampilkan */
  border-right: 2px solid var(--color6); /* Efek kursor */
  animation: typing 4s steps(15) infinite, blink 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 55%;
  }
}

@keyframes blink {
  from {
    border-right-color: var(--color6);
  }
  to {
    border-right-color: transparent;
  }
}

.content {
  max-width: 70%;
  padding-right: 120px;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3em;
  color: white;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--color6);
}

.hero .content p {
  font-size: 1.3rem;
  margin-top: 1rem;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 2rem;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  font-size: 17px;
  transition: 0.5s ease-in-out;
  background-color: var(--color6);
  border-radius: 7%;
}

.hero .content .cta:hover {
  background-color: #ad783c;
  object-fit: cover;
  box-shadow: 0 0 0 5px 5px rgba(104, 77, 44, 0.8);
}

/* Halaman About star*/
.about {
  background: linear-gradient(to top left, #31302f, #1c1f24);
  height: 150vh;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.about h1 {
  text-align: center;
  padding-top: 100px;
  font-size: 3rem;
}

.about .a-hero img {
  width: 20%;
  margin: 100px;
  margin-top: 5%;
  filter: saturate(0%);
  border-radius: 50%;
  transition: 0.5s all ease-in-out;
  box-shadow: 0 0 0 10px 5px rgba(150, 83, 2, 0.8);
  border: solid var(--color6);
}

.about .a-hero img:hover {
  filter: saturate(100%);
  transform: scale(1.1);
  box-shadow: 0 0 20px 10px rgba(234, 177, 106, 0.8);
}

.card {
  margin-left: 50%;
  margin-top: -58vh;
  margin-left: 70vh;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  border: solid var(--color6);
}
.card img {
  width: 20%;
  height: auto;
  margin: 38%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card h3 {
  text-align: center;
}

.card p {
  text-align: center;
}

/* Halaman About end*/

/* Halaman Project start*/
.container2 {
  height: 100vh;
}

.container2 .box-image {
  width: 70%;
  height: 350px;
  margin: 50px 100px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.container2 .box-image img {
  width: 10%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid white;
  transition: all ease-in-out 0.5s;
}

.container2 .box-image img:hover {
  width: 30%;
}

/* Halaman Project end*/

/* Halaman Contact start */
.container3 {
  background-color: #585651;
  height: 100vh;
}

/* Halaman Contact end */

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.7s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #000000;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}

/* Handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
